body{max-width: 1000px;
margin-left: auto;
margin-right: auto;
font-family: 'Courier New', Courier, monospace;
}
.navheader{position: relative;
    width: 1000px;
    height: 50px;
    display: flex;
    background-color: #333333;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    
}
img {position: absolute;
left:100px;
top: 10px;}
section{padding-right: 10%;}
.navheader div{
    padding-right: 50px;
}
a, .main #centerh2{color:#ff0099}
.main{padding-left: 10%;
    padding-right: 10%;
    }
h1{font-weight: 900;
    margin-top: 80px;}
h2, h3{margin-top:30px;}
#changes, #dashes{display: flex;
    justify-content: center;}